table, th, td{
  border: 1px solid black;
}
.lists{
  bottom: 0;
  right: 0;
  width: 200px;
  position: fixed;
  padding: 20px;
border: 20px ;
}
@media (max-width:480px) {
  .lists{
    width: 100%;
    border: none;
    margin-top: 10px;
    padding: 20px;
    position: static;
  }
  .tab{
width: 100%;
  }
  .footers{
    position: static;
    margin-top: 10px;
    width: 100%;
     }
}
.tab input{
border: none;
}
.tab input:focus{
  border: none;
  border-bottom: solid yellow;
  border-style: none;
  outline: none;
  width: 150px;
}
.footers{
  background-color: black;
  color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.footers small{
  left: 0;
  bottom: 0;
}
@media (max-width:480px){
  .footers{
    position: static;
  }
  table{
    width: 100%;
   row-gap: 3px;
   column-gap: 2px;
   line-height: 4px;
   

  }
}